In [1]:
# Kadir Efe Atçalı, CS 104, Spring 2024
# This program makes diamond pattern . 
print("  *  ")
print(" *** ")
print("*****")
print(" *** ")
print("  *  ")

  *
 ***
*****
 ***
  *

In [2]:
print( " /\_/\  ")  
print( "/ o o \\" )
print("\\  ~  /")
print("Hello Efe !")

 /\_/\
/ o o \
\  ~  /
Hello Efe !

In [9]:
n=int(input("input value:"))
sum=int((n+1)*(n/2))
print("the sum of all numbers from 1 up to 300 is: ",sum)

input value:300
the sum of all numbers from 1 up to 300 is:  45150

In [4]:
c= float(input("input celcius value:"))
f= c * 9 / 5 + 32
print("{0} degree celcius is {1} degrees fahrenheit".format(c,f))

input celcius value:100
100.0 degree celcius is 212.0 degrees fahrenheit

In [7]:
s0= float(12)
v0= float(3.5)
a0= float(9.8)
t=10
s= s0+t*v0+0.5*a0*t**2

print("value of s is: ", s )

value of s is:  537.0

In [6]:
tasdelen=26000
cekmekoy=30000
uskudar=36000
kadıkoy=40000
op1=tasdelen * 1.1 / 3
op2=cekmekoy * 1.1 /3
op3=uskudar * 1.1 /3
op4=kadıkoy *1.1 /3
print("tasdelen: ", op1)
print("cekmekoy: ", op2)
print("uskudar: ", op3)
print("kadıkoy: ", op4)

tasdelen:  9533.333333333334
cekmekoy:  11000.0
uskudar:  13200.0
kadıkoy:  14666.666666666666